html{
    width: 100vw;
    min-height: 100vh;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}




body{
    width: 100vw;
    min-height: 100vh;
    & #app{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;


}
}




body.dark {
    background-color: black;
    & label {
        color: white
    }
}

body.dark label {
    color:aqua
}

