div{
    border: 1px solid black;
    height: 200px;
    width: 200px;
}

body {
    height: 500vh;
}

body div:first-child{
    background-color: aquamarine;
    position: relative;
    top: 20px;
    left: 50px;
    
}

body div.absolute{
    position: absolute;
    background-color: blue;
    z-index: -1;
    left: 600px;


   
    
}

.fixed{
 
    background-color: rgb(72, 255, 0);
    position: fixed;


   
    
}
    

