.inputContainer{
    width: 100vw;
    height: 15vh ;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem
}

.gallery{
    width: 100vw;
    min-height: 50vh ;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 3rem 0 3rem 0
    
}

#containerGallery{
    width: 100vw;
    min-height: 50vh ;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
    
}
